################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ToggleNetwork/bin/*
/ToggleNetwork/obj/*
/ToggleNetwork/Properties/*
/ToggleNetwork.pdb